APP_PORT=8080
SPRING_PROFILES_ACTIVE=dev,docker
DEV_JWT_SECRET=CAMBIAR_ESTA_CLAVE_LOCAL_DE_AL_MENOS_32_CARACTERES
DEV_JWT_ISSUER=http://localhost:8081/dev-issuer
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_REEMPLAZAR
COGNITO_JWK_SET_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_REEMPLAZAR/.well-known/jwks.json
COGNITO_AUDIENCE=REEMPLAZAR_APP_CLIENT_ID
MS_INVENTARIO_URL=http://host.docker.internal:8081
MS_VENTAS_URL=http://host.docker.internal:8082
MS_COMPRAS_URL=http://host.docker.internal:8083
MS_INVENTARIO_CONNECT_TIMEOUT=2s
MS_INVENTARIO_RESPONSE_TIMEOUT=4s
MS_VENTAS_CONNECT_TIMEOUT=2s
MS_VENTAS_RESPONSE_TIMEOUT=6s
MS_COMPRAS_CONNECT_TIMEOUT=2s
MS_COMPRAS_RESPONSE_TIMEOUT=4s
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
SWAGGER_ENABLED=true
JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75.0 -XX:+ExitOnOutOfMemoryError
